#encabezado{
    display: inline-block;
}

.centrar{
    text-align: center;
}

.borde{
    margin: 10px;
    border: 1px solid #bababa;
}

.caja{
    height: 400px; 
    width: 334px;
}

.reglas{
    border: 1px solid #bababa;
}

.contenido{
    padding-left: 30px;
    padding-right: 30px;
}
