<div style="text-align: center; padding-top: 10px;">
    <div id="encabezado" class="container borde rounded">
        <div class="row " style="margin: 10px;">
            <button style="margin-right: 10px;" class="btn btn-outline-secondary" (click)="volver()">
                volver</button> <br>

            <h6 style="align-self: center;">A continuación encontrara el manual y las reglas del juego</h6>
        </div>
    </div>
</div>
<div >
    <div class="container reglas rounded">
        <div class="contenido ">
            <div class="col" style="text-align: center;"><h1 >Manual</h1></div>
            <h4>Un Jugador</h4>
            <div class="col" style="text-align: center;"><h1 >Reglas del juego</h1></div>
            <h4>Tarjeta volteada</h4>
            <p style="padding-left: 10px;">luego de voltear una carta tiene un segundo para voltear la siguiente, de lo contrario esta carta se ocultara nuevamente y cambiara su valor.</p>
        </div>
    </div>
</div>