<div style="text-align: center; padding-top: 10px;">
    <div id="encabezado" class="container borde rounded">
        <div class="row " style="margin: 10px;">
            <button style="margin-right: 10px;" class="btn btn-outline-secondary" (click)="volver()">
                volver</button> <br>

            <h6 style="align-self: center;">Seleccione un nivel para inciar el juego para {{jugador}}</h6>
        </div>
    </div>
</div>
<div class="centrar " style="padding-top: 10px;">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-success" (click)="operaciones('1')">
            <div class="caja">
                <img src="./assets/facil.svg" alt="" class="src imagen">
            </div>            Facil

        </button>
        <button type="button" class="btn btn-outline-warning" (click)="operaciones('2')">
            <div class="caja">
                    <img src="./assets/medio.svg" alt="" class="src imagen">
            </div>Medio
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="operaciones('3')">
            <div class="caja">
                    <img src="./assets/dificil.svg" alt="" class="src imagen">
            </div>Dificil
        </button>
    </div>
</div>