<div id="principal">
    <div id="titulo" class="titulo">
      <img src="./assets/matesRapidas.png" alt="" class="src">
      <h1 >matesRapidas</h1>
    </div>
    <div id="iniciar">
        <button type="button" class="btn btn-outline-success btn-lg btn-lg btn-block" (click)="seleccionar()">Start!</button>
    </div>
    
    <div id="reglas">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="reglas()">Manual y Reglas del juego</button>
    </div>
    
    </div>
    
    